/* Breakpoint nav-bar*/

.cart-shop {
  @media (min-width: 450px) and (max-width: 991px) {
    font-size: 2.5em;
  }
  @media (min-width: 320px) and (max-width: 450px) {
    font-size: 2.3em;
  }
}

.navegacion img {
  @media (min-width: 450px) and (max-width: 992px) {
    width: 200px;
  }
  @media (min-width: 320px) and (max-width: 450px) {
    width: 150px;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .padding-image {
    padding-left: 10px;
  }
}

/* Breakpoint index*/

.header-index {
  @media (min-width: 320px) and (max-width: 767.98px) {
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(1, 1fr);
  }
}

.index-title {
  @media (min-width: 500px) and (max-width: 767.98px) {
    font-size: 0.8em;
  }
  @media (min-width: 400px) and (max-width: 499.98px) {
    font-size: 0.6em;
  }
  @media (min-width: 320px) and (max-width: 399.98px) {
    font-size: 0.4em;
  }
}

.index-info {
  @media (min-width: 400px) and (max-width: 645px) {
    font-size: 1.2em;
  }
  @media (min-width: 320px) and (max-width: 400px) {
    font-size: 1em;
    text-align: start;
  }
  @media (min-width: 320px) and (max-width: 480px) {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .seasson h2 {
    font-size: 1.8em;
  }
}

.featured-products img {
  @media (min-width: 1001px) and (max-width: 1200px) {
    width: 300px;
  }
  @media (min-width: 767px) and (max-width: 1000px) {
    width: 230px;
  }
  @media (min-width: 500px) and (max-width: 767px) {
    width: 450px;
  }
  @media (min-width: 320px) and (max-width: 500px) {
    width: 300px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .featured-products {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Breakpoint products*/

@media (min-width: 320px) and (max-width: 415px) {
  .search-box input {
    width: 215px;
  }
}

.container .heading {
  @include responsive(md) {
    font-size: 2.5em;
  }
  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 30px;
  }
}

/* Breakpoint servicios*/

.info-service {
  @media (min-width: 992px) and (max-width: 1372px) {
    height: 40%;
    width: 40%;
    padding-left: 5%;
    padding-right: 0%;
  }
  @media (min-width: 576px) and (max-width: 991.98px) {
    font-size: 1.5em;
  }
  @media (min-width: 576px) and (max-width: 991.98px) {
    padding-left: 0%;
    padding-right: 0%;
  }
  @media (min-width: 320px) and (max-width: 575.98px) {
    padding-left: 3%;
    padding-right: 3%;
  }
  @media (min-width: 320px) and (max-width: 350px) {
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 10%;
  }
  @media (min-width: 576px) and (max-width: 991.98px) {
    h2 {
      text-align: center;
      padding-left: 0;
      font-size: 4.5em;
    }
  }
  @media (min-width: 992px) and (max-width: 1372px) {
    h2 {
      font-size: 4em;
    }
  }
  @media (min-width: 576px) and (max-width: 802px) {
    h2 {
      font-size: $textXl;
    }
  }
  @media (min-width: 320px) and (max-width: 575.98px) {
    h2 {
      text-align: center;
      font-size: 2.6em;
      padding-bottom: 5%;
    }
  }
  @media (min-width: 320px) and (max-width: 347px) {
    h2 {
      font-size: 2.3em;
    }
  }
  @media (min-width: 992px) and (max-width: 1372px) {
    p {
      font-size: 1.1em;
    }
  }
  @media (min-width: 576px) and (max-width: 991.98px) {
    p {
      text-align: start;
      padding-left: 0%;
      padding-right: 0%;
    }
  }
  @media (min-width: 320px) and (max-width: 575.98px) {
    p {
      font-size: 1.6em;
    }
  }
  @media (min-width: 320px) and (max-width: 450px) {
    p {
      font-size: 1.4em;
    }
  }
  @media (min-width: 576px) and (max-width: 991.98px) {
    ul {
      padding-bottom: 10%;
    }
  }
  @media (min-width: 320px) and (max-width: 450px) {
    ul {
      padding-top: 5%;
      padding-bottom: 30%;
    }
  }
  @media (min-width: 992px) and (max-width: 1372px) {
    ul li {
      font-size: $textMd;
    }
  }
  @media (min-width: 320px) and (max-width: 450px) {
    ul li {
      padding-top: 5%;
      font-size: 1.1em;
    }
  }
}

.stack-1 {
  @media (min-width: 576px) and (max-width: 991.98px) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8%;
    padding-bottom: 8%;
  }
  @media (min-width: 320px) and (max-width: 575.98px) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20%;
  }
}

.service-1 {
  @media (min-width: 991px) and (max-width: 1200px) {
    margin-right: 0%;
    height: 30rem;
    width: 20rem;
  }
  @media (min-width: 576px) and (max-width: 768px) {
    margin-right: 0%;
    height: 30rem;
    width: 20rem;
  }
  @media (min-width: 450px) and (max-width: 575.98px) {
    margin-right: 0%;
    height: 25rem;
    width: 20rem;
  }
  @media (min-width: 320px) and (max-width: 449.98px) {
    margin-right: 0%;
    height: 20rem;
    width: 15rem;
  }
  @media (min-width: 576px) and (max-width: 991.98px) {
    margin-right: 0%;
  }
  @media (min-width: 992px) and (max-width: 1372px) {
    ::before {
      left: -40%;
      top: -50%;
    }
  }
}
/* Breakpoint nosotros*/

@media (max-width: 1240px) {
  .team {
    width: 100%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
  }
  .center h1 {
    font-size: 3.2rem;
  }
}

/* Breakpoint contacto*/

@media (min-width: 320px) and (max-width: 991.98px) {
  .row.single-form {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .left {
    border-top-right-radius: 15px;
  }
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .left {
    border-bottom-left-radius: 0px;
  }
}

@media (max-width: 767px) {
  .left {
    padding: 90px 15px;
    text-align: center;
  }
  .left h2 {
    font-size: 25px;
  }
  .right {
    padding: 25px;
  }
  .right i {
    top: -52px;
    transform: rotate(90deg);
    left: 46%;
  }
  .right button {
    width: 150px;
    padding: 12px 0;
  }
}

.news-info {
  @include responsive(md) {
    padding-left: 5%;
    padding-right: 5%;
  }
  @include responsive(sm) {
    font-size: 1.5em;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }
  @media (min-width: 320px) and (max-width: 575.98px) {
    font-size: $textMd;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.news-box {
  @include responsive(sm) {
    width: 30rem;
  }
  @media (min-width: 320px) and (max-width: 575.98px) {
    width: 18rem;
  }
  input {
    @include responsive(sm) {
      width: 19.5rem;
    }
    @media (min-width: 320px) and (max-width: 575.98px) {
      width: 10rem;
      font-size: $textMd;
    }
  }
  button {
    @include responsive(sm) {
      width: 8rem;
      font-size: 0.7em;
    }
    @media (min-width: 320px) and (max-width: 575.98px) {
      width: 6rem;
      font-size: 0.7em;
      text-align: center;
    }
  }
}

/* Breakpoint footer*/

@media (width > 1200px) {
  footer img {
    width: 55%;
  }
}

footer img {
  @include responsive(lg) {
    width: 200px;
  }
  @include responsive(md) {
    width: 150px;
  }
  @include responsive(sm) {
    width: 40%;
    padding-bottom: 30px;
  }
  @media (min-width: 320px) and (max-width: 576px) {
    padding-bottom: 30px;
  }
  @media (min-width: 320px) and (max-width: 576px) {
    width: 50%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .ayuda {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.social {
  @media (min-width: 768px) and (max-width: 991px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 320px) and (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer-title {
  @media (min-width: 320px) and (max-width: 767px) {
    text-align: center;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    padding-top: 15%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer-info {
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1004px) {
  .links {
    font-size: 0.8em;
  }
}

/* Breakpoint erorr-404*/

.box-404 {
  @media (min-width: 991px) and (max-width: 1230px) {
    h1 {
      font-size: $textLg;
      padding-left: 5%;
    }
    h2 {
      font-size: $textLg;
      padding-right: 5%;
    }
    img {
      padding-right: 12%;
    }
  }
  @include responsive(md) {
    h1 {
      font-size: 1.5em;
      padding-left: 5%;
    }
    h2 {
      font-size: 1.5em;
      padding-right: 5%;
    }
    img {
      padding-right: 12%;
      width: 30rem;
    }
  }
  @media (min-width: 320px) and (max-width: 767.98px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 500px) and (max-width: 767.98px) {
    h1 {
      font-size: 1.5em;
      padding-left: 0%;
      padding-bottom: 6%;
    }
    h2 {
      font-size: 1.5em;
      padding-left: 0%;
      padding-top: 6%;
    }
    img {
      padding: 0%;
      width: 27rem;
    }
  }
  @media (min-width: 320px) and (max-width: 500px) {
    h1 {
      font-size: $textMd;
    }
    h2 {
      font-size: $textMd;
    }
    img {
      width: 15rem;
    }
  }
}
