.box {
  background-color: $mainColor;
  padding: 4px 0;
  text-align: center;
  color: $whiteC;
  font-size: $textMd;
}

.navegacion {
  background-color: $blackC;
  img {
    width: 250px;
  }
  a {
    font-size: $textMd;
    color: $whiteC;
    :hover {
      color: $tertiaryColor;
    }
  }
}

.cart-shop {
  font-size: $textLg;
  color: $mainColor;
}
